@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=League+Spartan:wght@400;600&family=M+PLUS+Rounded+1c:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #eee;
  /* background-color: #1D1E22 / #111111 */
}

h1,
h3,
h4 {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 10px;
}

h1 {
  color: #efefef; /*#cccccc*/
  text-align: center;
}

h4 {
    text-align: center;
}

#byclass {
  text-align: left;
}

#head {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(26, 98, 150); /*#355E8C*/
}

#panel {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(128, 128, 128);
  position: relative;
  top: -30px;
  background-color: #eee; /*#222222*/
  padding: 20px;
  display: flex;
}

section {
  width: 33.333%;
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

#class1p, #class2p, #class3p {
  font-size: 24px;
  display: inline-block;
  font-family: "M Plus Rounded 1c", sans-serif;
  margin-bottom: 5px;
  text-align: center;
  width: 100%
}

#class1t, #class2t, #class3t {
    margin-bottom: 5px;
    font-family: "League Spartan", sans-serif;
    text-align: center;
}

